<div class="top">

  <h1>
    ようこそ <strong>Bookers </strong>へ！
  </h1>

  <div class="main">

    <p>
      <strong>Bookers</strong>では、様々な書籍に関するあなたの意見や
    </p>

    <p>
      印象を共有することができます
    </p>

    <p>
      <a class ="link" href="<%= '/books' %>">Start</a>
    </p>

  </div>

</div>
